@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@400;500;600&family=Roboto:wght@500&display=swap");
.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 8.2rem;
}

.headerImg {
  flex-basis: 65%;
}

.logo {
  width: 11.5rem;
  height: 11.5rem;
  max-width: 100%;
}

.headerbtnP {
  padding-left: 1.2rem;
}
.headerbtnP a {
  background-color: #605b5b;
  padding: 1.8rem;
  border-radius: 3px;
}

.headerbtnS {
  margin-right: 2rem;
}
.headerbtnS a {
  background-color: #033075;
  padding: 1.8rem;
  border-radius: 3px;
}

.row2 {
  background-color: #033075;
  padding: 3.2rem 9.6rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-template-areas: "nav1 nav2 nav3 nav4 nav5";
  align-items: center;
  justify-items: center;
}

.nav1 {
  grid-area: nav1;
}

.nav2 {
  grid-area: nav2;
}

.nav3 {
  grid-area: nav3;
}

.nav4 {
  grid-area: nav4;
}

.nav5 {
  grid-area: nav5;
}

header a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

@media (max-width: 48em) {
  .headerImg {
    flex-basis: 55%;
  }
}
@media (max-width: 34em) {
  .row1 {
    padding: 0rem;
  }
  .headerImg {
    flex-basis: 30%;
  }
  .row2 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "nav1 nav2 nav3" "nav4 nav5 .";
    padding: 4.8rem;
    gap: 4rem;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Kantumruy Pro", sans-serif;
  background-color: rgb(250, 251, 252);
  font-size: 1.6rem;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.container img {
  width: 100%;
  height: 40rem;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered h1 {
  font-size: 4.8rem;
  letter-spacing: 3px;
  margin-bottom: 0.8rem;
}
.centered p {
  margin-bottom: 4.8rem;
  font-weight: 600;
  font-size: 1.6rem;
}
.centered form .search {
  padding: 0.8rem;
  margin-right: 1.2rem;
  width: 25rem;
}
.centered form select {
  padding: 0.8rem;
  width: 20rem;
}

.searchbtn {
  padding: 0.8rem 1.2rem;
  background-color: hsl(0, 3%, 37%);
  border: none;
  color: white;
  border-radius: 3px;
  text-align: center;
}

.about {
  padding: 4.8rem 12.8rem;
  text-align: center;
  color: #033075;
}
.about h2 {
  font-size: 3.2rem;
  margin-bottom: 1.8rem;
  letter-spacing: 3px;
}
.about p {
  font-size: 2.4rem;
}

.latest {
  padding: 4.8rem 12.8rem;
  background-color: #ececec;
  color: #033075;
}
.latest h3 {
  text-align: center;
  font-size: 2.8rem;
  letter-spacing: 3px;
  margin-bottom: 3.2rem;
}

.jobs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1.4rem 2.4rem;
  grid-auto-flow: row;
  grid-template-areas: "categories job1 job1 job1" "categories job2 job2 job2" "categories job3 job3 job3" ". job4 job4 job4";
}

.categories {
  grid-area: categories;
  background-color: white;
  padding: 3.2rem;
}
.categories p {
  margin-bottom: 2.4rem;
  font-weight: 700;
}
.categories li {
  margin-bottom: 1.4rem;
}
.categories a {
  text-decoration: none;
  color: #033075;
}

.job1 {
  grid-area: job1;
}

.job2 {
  grid-area: job2;
}

.job3 {
  grid-area: job3;
}

.job4 {
  grid-area: job4;
}

.job-card {
  display: flex;
  gap: 1.8rem;
  font-size: 1.4rem;
  background-color: white;
  padding: 2rem;
}
.job-card img {
  width: 8rem;
  height: 8rem;
  text-align: center;
}

.imgbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textbox {
  display: grid;
}
.textbox p:not(:last-child) {
  font-weight: 600;
}

.features {
  background-color: #033075;
  color: white;
  padding: 4.8rem 12.8rem;
  text-align: center;
}
.features img {
  width: 10rem;
}

#features-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 9.6rem;
  margin-top: 4.8rem;
}

#featuresCTA a {
  text-decoration: none;
  color: #033075;
  padding: 0.8rem 3.2rem;
  display: inline-block;
  margin-top: 5.6rem;
  border-radius: 3px;
  background-color: white;
  font-weight: 700;
}

.cta {
  padding: 5.6rem 12.8rem;
  text-align: center;
  color: #033075;
  background-color: #ececec;
}
.cta h3 {
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
  letter-spacing: 2px;
}
.cta p {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
  letter-spacing: 2px;
}
.cta a {
  text-decoration: none;
  background-color: #033075;
  padding: 0.8rem 3.2rem;
  display: inline-block;
  border-radius: 3px;
  color: white;
  font-weight: 600;
}

footer {
  padding: 2.8rem;
  color: #033075;
  font-weight: 600;
  font-size: 1.8rem;
}

/* BELOW 1200px (Landscape Tablets) */
@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
  .searchbtn {
    margin-top: 1.4rem;
    margin-right: -1.8rem;
  }
}
/* BELOW 944px (Tablets) */
@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}
/* BELOW 544px (Phones) */
@media (max-width: 34em) {
  .centered #userName {
    font-size: 3rem;
  }
  .centered .search {
    margin-bottom: 1.2rem;
    text-align: center;
  }
  .centered select {
    text-align: center;
  }
  .latest {
    padding: 4.8rem 4.8rem;
  }
  .latest .jobs {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "job1" "job2" "job3" "job4";
  }
  .latest .jobs .job-card {
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
    text-align: center;
  }
  .latest .jobs .job-card .textbox,
  .latest .jobs .job-card .imgbox {
    display: block;
  }
  .latest .categories {
    display: none;
  }
  .features {
    padding: 4.8rem 4.8rem;
  }
  .features #features-icons {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
  }
  .cta {
    padding: 5.6rem 4.8rem;
  }
  .about {
    padding: 4.8rem;
  }
}/*# sourceMappingURL=style.css.map */